<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
    <input type="text" name="first_name" id="">
    <input type="text" name="middle_name" id="">
    <input type="text" name="last_name" id="">
    <input type="text" name="phone_number" id="">
    <input type="text" name="email" id="">
    <input type="text" name="username" id="">
    <input type="text" name="password" id="">
    <button type="submit"> Signup</button>
</form>
</body>
</html>