<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/share/" method="post" enctype="multipart/form-data">
    <input type="text" name="thought" placeholder="thoughts">
    <input type="text" name="feeling", placeholder="feeling">
    <input type="file" name="files" id="" multiple>
    <button type="submit">Post</button>
    </form>
    
</body>
</html>